apiVersion: v1
kind: ConfigMap
metadata:
  name: fabric-config
  namespace: {{ .Release.Namespace }}
data:
  core.yaml: |
    peer:
      id: {{ .Values.peer.peerID }}
      localMspId: {{ .Values.peer.mspID }}