[Unit]
Description=Treetracker Pipeline Ingestion API
Documentation=https://github.com/Greenstand
After=network.target

[Service]
Environment=NODE_PORT=3005
Type=simple
User=root
ExecStart=/usr/bin/node /root/treetracker-database/pipeline/microservice/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
