[Unit]
Description=Treetracker SQS Consumer
Documentation=https://github.com/Greenstand
After=network.target

[Service]
Environment=
Type=simple
User=root
WorkingDirectory=/root/treetracker-pipeline-consumer
ExecStart=/usr/bin/node /root/treetracker-pipeline-consumer/consumer.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
