apiVersion: v1
kind: ConfigMap
metadata:
  name: peer-config
  namespace: {{ .Values.namespace }}
data:
  core.yaml: |
    peer:
      id: ""
      networkId: ""
      listenAddress: 0.0.0.0:{{ .Values.ports.listen }}
      chaincodeListenAddress: 0.0.0.0:{{ .Values.ports.chaincode }}
      localMspId: {{ .Values.mspID }}
      fileSystemPath: /var/hyperledger/production
      tls:
        enabled: true
        privateKey:
          path: /var/hyperledger/peer/tls/server.key
        certificate:
          path: /var/hyperledger/peer/tls/server.crt
        rootcert:
          path: /var/hyperledger/peer/tls/ca.crt

    chaincode:
      externalBuilders:
        - name: ccaas_builder
          path: /opt/hyperledger/ccaas_builder
          propagateEnvironment:
            - CHAINCODE_AS_A_SERVICE_BUILDER_CONFIG

    operations:
      listenAddress: 0.0.0.0:{{ .Values.ports.operations }}
    metrics:
      provider: prometheus
