name: Pre-Commit

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # allow pushing fixes
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.x

      - uses: pre-commit/action@v3.0.1
        id: run1
        with:
          extra_args: --all-files --verbose

      # If hooks changed files, commit them
      - name: Commit pre-commit fixes (if any)
        if: always()  # commit even if previous step marked modified files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(pre-commit): apply auto-fixes"
          commit_user_name: "github-actions[bot]"
          commit_user_email: "41898282+github-actions[bot]@users.noreply.github.com"

      # Run again to ensure no remaining diffs; now fail if still issues
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --verbose --show-diff-on-failure
