name: Pre-Commit

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --verbose --show-diff-on-failure
        env:
          PRE_COMMIT_COLOR: always
